.box1{
    background-color: rgb(219, 179, 21);
    border-radius: 10px;    
}

.box2{
    background-color: aliceblue;
    border-radius: 10px;
}

.box3{
    background-color: blueviolet;
    border-radius: 10px;
}